#team .team-member-image {
    width: 100%;
    max-height: 600px;
    display: block;
    margin: 0 auto;
}

#team .section-title {
    margin-bottom: 60px;
}

#team .section-title .line {
    width: 60px;
    height: 3px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

#team .team-member {
    position: relative;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
}

#team .team-member:hover .team-member-content {
    opacity: 1;
    bottom: 0;
}

#team .team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
    color: white;
}
